{% extends 'base.html' %}
{% block title%} Team {% endblock %}
{% block content %}
{% load static %}

<!-- PAGE TITLE -->
<header class="py-8 py-md-11" style="background-image: none;">
    <div class="container text-center py-xl-2">
        <h1 class="display-4 fw-semi-bold mb-0">TEAM</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                <li class="breadcrumb-item">
                    <a class="text-gray-800" href="{% url 'home' %}">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                    TEAM
                </li>
            </ol>
        </nav>
    </div>
    <!-- Img -->
    <img class="d-none img-fluid" src="...html" alt="...">
</header>


<div id="teachers" class="section wb">
  <div class="container">
      <div class="row">
          {% for member in team_members %}
          <div class="col-lg-3 col-md-6 col-12">
              <div class="our-team">
                  <div class="team-img">
                      <img src="{{ member.image.url }}" alt="{{ member.name }}" class="rounded-square">
                      <div class="social">
                          <ul>
                              <li><a href="{{ member.whatsapp_link }}" class="fa fa-whatsapp"></a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="team-content">
                      <h3 class="title">{{ member.name }}</h3>
                      <span class="post">{{ member.role }}</span>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
</div>

{% endblock %}
